<h1> <%= @people.name %> </h1>
<h4> <%= @people.age %></h4>
<p> <%= @people.hair_color %> </p>
<p> <%= @people.eye_color %> </p>
<p> <%= @people.gender %> </p>
<p> <%= @people.ethnicity %> </p>
<p> <%= @people.alive %> </p>
<%= link_to "Back", people_path %>

<%# name: , age: 25, hair_color: "Blonde", eye_color: "Blue", gender: , ethnicity: "White", alive: "Yes" %>
